.nuxtLogo {
  position: relative;
}

.rooms {
  height: 100vh;
  width: 160px;
  border-color: rgb(150, 180, 190);
  border-width: 1px;
  border-right-style: solid;
}

.room {
  font-size: 30px;
  border-color: rgb(150, 180, 190);
  border-width: 1px;
  border-bottom-style: solid;
  text-align: center;
}
