.nuxtLogo {
  position: relative;
}

.sidebar {
  height: 100vh;
  width: 160px;
  border-color: rgb(150, 180, 190);
  border-width: 1px;
  border-right-style: solid;
  background-color: #bab8bdaa;
}

.room {
  font-size: 30px;
  border-color: rgb(150, 180, 190);
  border-width: 1px;
  border-bottom-style: solid;
  text-align: center;
}

.boardContainer {
  position: relative;
  height: 100%;
  background-color: #2f6665;
}

.cardMoveArea {
  position: absolute;
  height: 100%;
  width: 100%;
}
.addCardButton {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 48px;
  color: #2f6665;
  background-color: #eee8;
  border: none;
  width: 48px;
  cursor: pointer;
}

.deleteButtom {
  position: absolute;
  right: 1%;
  top: 1%;
  border-radius: 50%;
  height: 22px;
  font-size: 8px;
  border: solid 1px #eee8;
  background-color: transparent;
  cursor: pointer;
}

.stickyArea {
  position: relative;
  height: 32px;
  background-color: #eee8;
}

.textArea {
  flex: 1;
  z-index: 200;
  filter: invert(100%) grayscale(100%);
  background-color: transparent;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  width: 240px;
  height: 320px;
}
